.cmb-th+.cmb-td {
    float: right !important;
}
.cmb2-media-status .img-status {
    float: right !important;
    
}
.cmb-repeatable-group .cmb-group-description .cmb-th {
    text-align: right !important;
    
}
p.cmb2-metabox-description{
	color : navy !important;
}