/* footer style */
footer.site-footer,.site-footer{
	width : 100%;
	margin :0;
	padding : 8px;
	min-height : 40px;
	display :block;
	overflow: hidden;
	background-color: $skyblue1;
	color : $white;
	font-size : 80%;
	.site-credit{
		float : none;
		text-align : center;
		display : block;
		margin : auto;
		@include at-breakpoint($medium){
			float : right;
		}
		padding : 3px 20px;

	}
	.site-statistics{
		float : none;
		text-align : center;
		display : block;
		margin : auto;
		@include at-breakpoint($medium){
			float : left;
		}
		padding : 3px 60px;
	}
}

