/* footer style */
footer.site-footer,.site-footer{
	width : 100%;
	margin :0;
	padding : 8px;
	min-height : 40px;
	
	background-color: $skyblue1;
	color : $white;
	font-size : 90%;
	.site-credit{
		float : right;
	}
	.site-statistics{
		float : left;
		padding : 8px 30px;
	}
}

