/* header style */


.site-header,.menu-bar,.top-bar{
	width : 100%;
}

.menu-bar{
	background-color: $navy1;
	a{
		color : $grey1;
	}
	.top-bar{
		background-color: $skyblue1;
		min-height : 30px;
		max-height : 30px;
		a{
			color : $white;
		}
		@include span-columns(12,12);
		@include at-breakpoint($medium){
			@include span-columns(9 omega,12);
			display : inline-block;
		}
		ul.top-nav{
			display : none;
			@include at-breakpoint($medium) {
				display : inline-block;
				overflow: hidden;
				max-height : 30px;
				@include span-columns(8,12);	  
			}	  
			
			font-size : 80%;
			font-weight : 300;
			
			margin : 0;
			line-height : 30px;
			li{
				display: inline-block;
				
			}
			
			li a{
				padding : 7px 14px;
				border-right : 1px solid lighten($skyblue1, 5%);
				@include single-transition(all , 0.3s , ease-in-out);
				
			}
			li a:first-child{
					border : none;
			}
			li a:hover{
				background-color : $skyblue2;

			}
		}
		.search-area{
			width : 100%;
			@include at-breakpoint($medium) {
			  @include span-columns(4 omega ,12);
			}
			
			position: relative;
			label.screen-reader-text{
				display : none;
			}	
			
			input#s{
				float : left;
				outline : none;
				border : none;
				height :30px;
				padding:{
					left : 40px;
					right : 20px
				}
				display : inline-block;
				width : 70%;
				background-color: darken($grey1, 5%);
				color : $black;
				@include single-transition(all , 0.5s , ease-in-out);
				&:focus{
					width : 80%;
					background-color: $white;
					
				}
				&::-webkit-input-placeholder{
	    				color:$white;
				}
				&::-moz-placeholder {
	    				color:$white;
				}
			}
			#searchsubmit{
				width : 0px;
				height : 0px;
				background : none;
				content : "";
				box-shadow  : none;
				font-size : 0px;
				&::before{
					@extend .fa;
				    content: "\F002";
		    		font-size: 16px;
		    		position: absolute;
		    		display: inline-block;
		    		left: 10px;
		    		top: 5px;
		    		padding : 2px;
		    		padding-right : 9px;
		    		color : $black;
		    		border-right : 1px solid $black;
		    		&:hover{
		    			cursor : pointer;
		    		}
				}
			}
		}
	}
	.logo-wrapper{
		text-align : center;
		@include span-columns(12,12);
		@include at-breakpoint($medium) {
		    @include span-columns(3,12);
		}
		padding : {
			top : 12px;
			bottom : 6px;
		}
		img{
			max-height : 80px;
		}
		a.menu-toggler{
			display : inline-block;
			float : right ;
			margin : 10px;
			padding : 5px 10px 3px;
			border : 1px solid $navy2;
			@include at-breakpoint($medium){
				display : none;
			}
			i.fa-navicon{
				
				font-size : 140%;
			}
			&:hover{
				cursor : pointer;
			}
		}
	}

	nav.main-menu{
		
		position : relative;
		.current-time{
			// float : left;
			display: none;
			@include at-breakpoint($medium) {
				display:  inline-block;
			}
			color : $white;
			position : absolute;
			top : 36px;
			left : 18px;
			font-size : 90%;
			.fa-calendar {
				padding-right : 5px;
			}
		}
	}
	
	
	ul.main-nav{
		font-size : 90%;
		font-weight : 300;
		display : none;
		@include at-breakpoint($medium){
			@include span-columns(9 omega,12);
			display : inline-block;
		}
		margin-top : 36px;
		li{
			
			position : relative;
			display: inline-block;
			vertical-align: baseline;
		}
		li>a{
			border-right : 1px solid lighten($navy1, 10%);
			padding : 2px 8px 12px;
			border-bottom : 3px solid $navy1;
			display: inherit;
			@include single-transition(all , 0.3s , ease-in-out);
		}
		li>a:hover{
			border-bottom-color : $skyblue1;
		}
		li ul.sub-menu{
			@include single-transition(all , 0.3s , ease-in-out);
			display : none;
			padding : 0;
			min-width : 180px;
			position : absolute;
			top : 100%;
			right : -20%;
			z-index : 99999;
			
			background-color : $navy1;
			li{
				text-align: center;
				width : 100%;
				max-width : 100%;
			}
			a{
				border-top : 1px solid lighten($navy1, 10%);
				border-bottom : 1px solid lighten($navy1, 10%);
				width : 100%;
				padding : 12px 15px;
				&:hover{
					background-color : $navy2;
				}
			}
			li.menu-item-has-children>a:after{
				@extend .fa;
				content: "\F104";
			    left: 12px;
			    position: absolute;
			    vertical-align : middle;
			}
		}
		li:hover>ul.sub-menu{
			display: inline-block;
			
		}
		ul.sub-menu li:hover ul{
			right : 100%;
			top : 0;
		}

		
	}
	.responsive-menu{
		display : block;
		@include single-transition(all , 0.6s , ease-in-out);
		@include at-breakpoint($medium) {
		  	display: none;
		}
		z-index : 9999;
		position : fixed;
		right : -250px;
		top : 0;
		overflow: auto;
		min-height :800px;
		max-height : 100%;
		width : 250px;
		max-width : 100%;
		background-color : $navy1;
		padding : 10px;
		color : $white
		a{
			color : $white;
		}
		&.show-menu{
			transform : translateX(-250px);
		}
		a.close-responsive{
			color : $white;
			padding : 2px 5px 0px;
			border : 1px solid $white;
			
			font-size : 110%;
			float : left;
			&:hover{
				cursor: pointer;
			}
		}
		ul.responsive-nav{
			margin-top : 30px;
			padding : 20px;
			font-size : 90%;
			
			&>li{
				padding-bottom : 10px;
				margin-bottom : 10px;
				border-bottom : 1px solid $skyblue2;
			}
			
			li{
				
				a{
					color : $white;
					line-height: 130%;
					
					&:hover{
						color : $skyblue2;
					}
				}
			}
			ul.sub-menu{
				margin-right : 30px;
				a{
					position : relative;
					color : $grey2;
					&:before{
						@extend .fa;
						content : "\f177";
						position : absolute;
						right : -20px;
						top : 6px;
						color : $skyblue1;

					}
					&:hover{
						color : $skyblue2;
					}
				}
			}


		}
	}


}