/* main style */

.layout{
	@include container;
}
body{
	max-width : 1400px;
	margin : auto;
	background-color: $grey1;
}
.body-wrapper{
	width : 100%;
}
.notify-tabs-wrap{
	padding :{
		top: 30px;
		bottom : 30px;
	}
	background-color: $navy1;
	color : $grey1;
}
