/* main style */

.layout{
	@include container;
}
body{
	max-width : 1400px;
	margin : auto;
	background-color: $grey1;
}
.body-wrapper{
	width : 100%;
	position : relative;
	
}
.content-area{
	width : 100%;
	background-color: $white;
	.single-page-title{
		width : 100%;
		background-color: $grey2;
		overflow : hidden;
		text-align : center;
		h1{
			font-size : 140%;
			padding : 10px 0;
		}
	}
}

.page-main{
	.page-content{

			@include span-columns(12,12);
			@include at-breakpoint($medium){
				@include span-columns(9,12);
				float:none;
				margin : auto;
				display : block;
				margin-top : 20px;
				margin-bottom : 20px;
			}
			padding : 15px;
			padding-top : 20px;

			border : 1px solid $grey2;
			border-top : 6px solid $navy1;
			@extend .widget-radius;
			@include box-shadow();
			margin-top : 20px;
			margin-bottom : 20px;
			height : 100%;
			min-height : 100%;
		&.with-sidebar{
			@include span-columns(12,12);
			@include at-breakpoint($medium){
				@include span-columns(9 omega,12);
			}
		}
		&.without-sidebar{
			@include span-columns(12,12);
		}
		
		.featured-image{
			width : 100%;
			margin : auto;
			text-align : center;
			img{
				max-width : 100%;
				@include border-radius(10px);
			}
			&.single-image{
				width : 40%;
				float : right;
				padding : 10px;
				min-height : 220px;
			}
		}
		.hentry {
			width : 100%;
			overflow : hidden;
			margin-bottom : 20px;
			padding-bottom : 0px;
			border-bottom : 1px solid $navy2;
		}
		ol,ul{
			padding: 10px 40px;
		}
		.post-title,.post-content{
				width : 60%;
				float : right;
				
				p{
					padding : 5px;
					margin :auto;
					font-size : 90%;

				}
				a{
					color :$skyblue1;
				}				
		}
		.post-title{
			padding : 10px;
			width : 60%;
			float : right;
			h3{
					padding : 5px;
					margin :auto;
					font-size : 90%;
					color : $skyblue1;
			}
			
		}
		ul.post-meta-list{
			padding : 1px;
		}
		.post-meta{
			margin-top : 10px;
			padding : 0px 3px;
			@include border-radius(3px);
			//float : left;
			display : inline-block;
			background-color : $navy2;
			font-size : 70%;
			//border-top : 1px solid $grey2;
			text-align : right;
			.meta-date{
				position : relative;
				a{
					color : $grey2;
				}
				.fa-calendar{
					padding-left : 8px;
					vertical-align: middle;
					color : $grey2;
				}
			}
			
		}
		&.single-page{
			.post-meta{
				@include clearfix;
				margin-top : auto;
				border-top : 1px solid $grey1;
				text-align : right;
				background-color : $white;
				font-size : 80%;
				width : 100%;
				padding : 10px;
				.meta-date,.meta-cat,.meta-tag{
					position : relative;
					a{
						color : $navy2;
					}
					.fa-calendar,.fa-tags,.fa-folder-open{
						padding-left : 8px;
						color : $navy2;
						vertical-align: middle;
					}
				}
			}
		}
		.searchform{
			margin:20px;
		}
		.pagination{
			text-align : center;
			.page-numbers{
				padding :5px 13px;
				
				background-color : $grey2;
				color : $navy1;
				@include border-radius(5px);
				&.current,&:hover{
					background-color : $navy2;
					color : $white;
				}
				i:before{
					vertical-align: middle;
				}

			}
		}
		
	}
	.page-sidebar{
		@include span-columns(12,12);
		@include at-breakpoint($medium){
			@include span-columns(3 ,12);
		}
		.sidebar-widget{
			padding:{
				top :10px;
				bottom : 10px;
			}
		}
	}
	.notfound{
		margin-top : 20px;
	}
	.hentry.page404{
		text-align : center;
		border-bottom : none;
	}

}
.page-content{
	min-height : 100%;
	.table-container{
		width : 90%;
		margin: 10px auto;
		display : block;
	}
			
	table.scientific-board{
		width : 100%;

		tbody{
			display : table;
			width: 100%;
		}
		th{
			height : 57px;
			text-align: center;
			vertical-align: middle;
			padding:5px;
			border : 1px solid $grey2;
			color : $white;
			background-color: $navy1;
			max-width : 40%;
			font-size : 90%;


		}
		tr{
			text-align:center;
			&:nth-of-type(2n){
				background-color: lighten($grey1,15%);
			}

		}
		td{
			text-align : center;
			padding:5px;
			border : 1px solid $grey2;
			max-width : 40%;
			font-size : 90%;

		}
	}
	
	
}
.profile-page{
	.science-pic{
		display :inline-block;
		float : right;
		margin : 10px;
		margin-left : 30px;
		width : 150px;
		height: auto;
	}
	.science-info-wrapper{
		display: inline-block;
		overflow: hidden;

		ul.science-info{
			padding :35px 10px 10px;
			li{
				padding : 5px;
				display : table;
				border-bottom : 1px solid $grey1;
			}
		}
	}
	.science-name{
		padding-bottom : 30px;
	}
	.science-name,.science-desc{
		display : block;
		overflow: hidden;
		margin : auto;
		// padding : 20px 0px;
	}
	.exp-item,.course-item,.pub-item{
		display : none;
	}
}
.secondary{
	.widget{
		border :3px solid $grey2;
		padding : 20px;
		@extend .widget-radius;
		// border-radius : 20px;
		// border-top-right-radius : 0px;
		// border-bottom-left-radius : 0px;
		font-size : 82%;
		line-height : 230%;
		margin : {
			bottom : 5px;
			top : 10px;
		}
	}
	.widgettitle{
		
		border-bottom : 1px solid $grey2;
		margin : 0;
		padding-bottom : 10px;
		margin-bottom : 15px;
		color : $navy1;
	}
	i:before{
		padding : 5px;
		vertical-align: middle;
	}
	
}
.gallery-slideshow-wrapper{
	width : 100%;

	background-color: $grey1;
	padding:{
		top:  30px;
		bottom : 30px;
		left : auto;
		right : auto;
	}
	text-align : center;

	 .sp-selected-thumbnail {
		border: 4px solid #000;
	}
}
.has-sub-page{
	.page-content.with-sidebar{
		// border : 1px solid $grey2;
		// border-top : 6px solid $navy1;
		// @extend .widget-radius;
		// @include box-shadow();
		// margin-top : 20px;
		// margin-bottom : 20px;
		// height : 100%;
	}
	.page-sidebar{
		// margin:{
		// 	top :20px;
		// 	bottom : 20px;
		// }
		ul.sub-widget,ul.related-widget,ul.parent-widget{
			@extend .widget-radius;
			
			margin:{
				top : 10px;
				bottom : 10px;
			}
			padding: 5px 6px 3px;
			li{
				position : relative;
				width : 100%;
				& a.related-link,
				& a.sub-page-link,
				& a.sub-edu-link,
				& a.parent-link{
					@include single-transition(all ,.2s, ease-out);
					&:before{
						@extend .fa;
						content : "\f0c1";
						vertical-align: middle;
						position : absolute;
						right : 14px;
						top : 12px;
					}
				}
				& a.sub-page-link:before{
					content : "\f15c";
				}
				& a.sub-edu-link:before{
					content : "\f19d";
				}

				& a.parent-link:before{
					content : "\f101";
				}

			}
			li a,li span.related-header,
			li a.sub-header{
				font-size : 90%;
				text-align : center;
				width : 100%;
				border : 3px solid darken($grey2,5%);
				@extend .widget-radius;
				background-color : $grey2;
				display : inline-block;
				padding : 7px 18px 7px 8px;
				margin-bottom : 3px;
				&.current,&:hover{
					background-color : $skyblue2;
					color : $white;
				}
			}
			li a.sub-header,li span.related-header{
				border-color : $navy1;
				background: #5a6b9f; /* Old browsers */
				background: -moz-linear-gradient(top, #5a6b9f 21%, #253b80 86%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,#5a6b9f), color-stop(86%,#253b80)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #5a6b9f 21%,#253b80 86%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #5a6b9f 21%,#253b80 86%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #5a6b9f 21%,#253b80 86%); /* IE10+ */
				background: linear-gradient(to bottom, #5a6b9f 21%,#253b80 86%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a6b9f', endColorstr='#253b80',GradientType=0 );
				font-family : $Yekan;
				font-size : 17px;
				color : $white;

			}
			li a.related-link:hover{
				background-color : $navy1;
				color : $white;
			}
			li a.parent-link{
				background-color : $navy1;
				color : $white;
			}
		}
	}
}